<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">
    <context:property-placeholder location="musicplayer.properties"/>

    <bean id="classicalMusic"
          class="ru.alishev.springcourseXML.ClassicalMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
          factory-method="getClassicalMusic">

    </bean>

    <bean id="rockMusic"
          class="ru.alishev.springcourseXML.RockMusic">
    </bean>

    <bean id="chansonMusic"
          class="ru.alishev.springcourseXML.ChansonMusic">
    </bean>

    <bean id="musicPlayerBean"
          class="ru.alishev.springcourseXML.MusicPlayer"
          scope="prototype"
    >
        <property name="musicList">
            <list>
                <ref bean="classicalMusic"/>
                <ref bean="chansonMusic"/>
                <ref bean="rockMusic"/>
            </list>
        </property>
    </bean>

</beans>